/Interpreter.class
/KeyboardHandler.class
/Launcher$1.class
/Launcher$2.class
/Launcher$3.class
/Launcher$4.class
/Launcher$5.class
/Launcher.class
/Main.class
/MapLoader.class
/MouseHandler.class
/Launcher$6.class
